:root {
  --border-color: #000;
  --border-width: 2px;
  --border: var(--border-width) solid var(--border-color);
  --head-color: linear-gradient(to left bottom, #fff, #12c2eb, #08bbe7, #0fa8d0, #000 113%);
  --body-color: linear-gradient(to left, #08bbe7 12%, #0076b5 50%, #0fa8d0 80%, #0fa8d0 143%);
  --arm-left: #0fa8d0;
  --arm-right: #08bbe7;
  --skin-color: #fff;
  --clothes-color: #12c2eb;
  --eyeball-color: #000;
  --nose-color: radial-gradient(circle at 68% 44%, rgba(255,255,255,1) 7%, rgb(255 0 0) 20%);
  --choker-color: #e5000d;
  --bell-color: #fff900;
  --bg-color: #fff;
}

body, html {
  height: 100%;
}

body, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* 
   背景辅助线
  background-image: 
    linear-gradient(45deg, rgba(0, 0, 0, .2) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, .2) 0),
    linear-gradient(45deg, rgba(0, 0, 0, .2) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, .2) 0);
  background-position: 0 0, 1em 1em;
  background-size: 2em 2em; */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title .actions {
  margin-left: 20px;
}

h2 {
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--border-color);
  padding: 100px 0;
  position: relative;
  flex-grow: 1;
}

.progress-bar {
  height: 2px;
  background: var(--head-color);
  position: absolute;
  top: 0;
  left: 0;
}

.text {
  font-size: 16px;
  overflow-y: auto;
  width: 500px;
  max-height: 500px;
  padding-left: 1em;
}

.text::-webkit-scrollbar {
  display: none;
}

.doraemon {
  width: 420px;
  font-size: 40px;
}

.oneline {
  text-align: center;;
}

.lineitem {
  margin-left: 20px;
}

.btn {
  margin-top: 10px;
  text-align:inherit;
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  pre {
    height: 40vh !important;
    margin-top: -60px;
  }
  h2 {
    font-size: 15px;
    line-height: 1.3rem;
  }

  pre code.hljs {
    height: 100%;
  }

  .container {
    flex-direction: column;
    overflow: hidden;
    padding: 20px 0px;
    height: 100%;
  }

  .doraemon {
    order: 1;
    font-size: 20px;
    height: 50%;
    padding-left: 13em;
    margin-top: 50px;
  }

  .text {
    order: 2;
    padding: 2em 2em;
    height: 50%;
    width: auto;
    line-height: 1.2;
    font-size: 14px;
  }

  .oneline {
    margin-top: 10px;
  }

  .btn {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  pre {
    height: 40vh !important;
    margin-top: -60px;
  }
  h2 {
    font-size: 15px;
    line-height: 1.3rem;
  }

  pre code.hljs {
    height: 100%;
  }

  .container {
    flex-direction: column;
    overflow: hidden;
    padding: 20px 0px;
    height: 100%;
  }

  .doraemon {
    order: 1;
    font-size: 20px;
    height: 50%;
    padding-left: 4em;
    margin-top: 50px;
  }

  .text {
    order: 2;
    padding: 2em 2em;
    height: 50%;
    width: auto;
    line-height: 1.2;
    font-size: 14px;
  }

  .oneline {
    margin-top: 10px;
  }

  .btn {
    margin-bottom: 10px;
  }
}
